<mat-sidenav-container fullscreen>
  <!-- Sidenav -->
  <mat-sidenav
    #sidenav
    [ngStyle]="{ width: '250px' }"
    mode="push">
    <!-- toolbar -->
    <mat-toolbar>
      <span>Menú</span>
      <span class="spacer"></span>
      <button
        (click)="sidenav.toggle()"
        mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <!-- Menú de navegación -->
    <mat-nav-list>
      <mat-list-item
        (click)="sidenav.toggle()"
        *ngFor="let item of sidebarItems"
        [routerLink]="item.url">
        <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
        {{ item.label }}
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <!-- Toolbar Contenido principal -->
  <mat-toolbar color="primary">
    <button
      (click)="sidenav.toggle()"
      mat-icon-button>
      <mat-icon>menu</mat-icon>
    </button>
    <span class="spacer"></span>

    <span *ngIf="user">{{user.user}}</span>
    <button
      (click)="onLogout()"
      mat-button>
      <mat-icon>logout</mat-icon>
      Logout
    </button>
  </mat-toolbar>

  <!-- Contenido Principal -->
  <div class="container p-2">
    <router-outlet></router-outlet>
  </div>
</mat-sidenav-container>
