<h1>
  {{ isEdit ? 'Editar' : 'Agregar'}}
  héroe
</h1>

<mat-divider class="mb-2"></mat-divider>

<div class="grid">
  <div class="col-12 sm:col-6">
    <mat-card>
      <mat-card-content>
        <form
          (ngSubmit)="onSubmit()"
          [formGroup]="heroForm"
          class="grid">
          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Super héroe</mat-label>
            <input
              formControlName="superhero"
              matInput
              required
              type="text">
          </mat-form-field>

          <mat-form-field class="col-12 sm:col-6">
            <mat-label>Alter ego</mat-label>
            <input
              formControlName="alter_ego"
              matInput
              required
              type="text">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Primera aparición</mat-label>
            <input
              formControlName="first_appearance"
              matInput
              required
              type="text">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Personajes</mat-label>
            <input
              formControlName="characters"
              matInput
              required
              type="text">
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Creador</mat-label>
            <mat-select
              formControlName="publisher"
              required>
              <mat-option
                *ngFor="let publisher of publishers"
                [value]="publisher">
                {{publisher}}
              </mat-option>
            </mat-select>
          </mat-form-field>

          <mat-form-field class="col-12">
            <mat-label>Imagen Alternativa</mat-label>
            <input
              formControlName="alt_img"
              matInput
              type="text">
          </mat-form-field>
        </form>

        <div class="flex justify-content-between">
          <button
            (click)="onSubmit()"
            color="primary"
            mat-flat-button>
            <mat-icon>save</mat-icon>
            Guardar
          </button>

          <button
            *ngIf="isEdit"
            color="warn"
            mat-flat-button>
            <mat-icon>delete</mat-icon>
            Borrar
          </button>
        </div>
      </mat-card-content>
    </mat-card>
  </div>

  <div class="col-12 sm:col-6">
    <mat-card>
      <img
        [src]="currentHero | heroImage"
        alt="imagen del heroe"
        mat-card-image>
    </mat-card>
  </div>
</div>
